[user]
	name = Mirko-r
	email = 04mirko@libero.it
[core]
	editor = vim
[init]
	defaultBranch = main
[color]
	ui = true
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
